*.war
target/*
mvnw.cmd
.mvn
backend.iml
### STS ###
.apt_generated
.factorypath
.springBeans

### Eclipse ###
.classpath
.project
.settings/

### IntelliJ IDEA ###
*idea/*
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
package-lock.json

.idea/workspace.xml
.idea/workspace.xml
target/WAPTasksProject.war
.idea/workspace.xml
target/WAPTasksProject/home.html
.idea/workspace.xml
