.ajax-loader {
  display: none;
  position: absolute;
  z-index: +100 !important;
  width: 50%;
  height:50%;
}

.ajax-loader img {
  position: relative;
  top:50%;
  left:50%;
  width: 150px !important;

}